<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Honey Academy</title>
    <link rel='stylesheet' href='//cdn.joinhoney.com/fonts/avenir.min.css'/>
<style>
  body {
    font-family: 'AvenirNextLT', Avenir, 'Open Sans', sans-serif;
  }
</style>
  </head>
  <body>
    <div id="content"><%- markup -%></div>
    <script src="/static/js/main.js"></script>
  </body>
</html>
