<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-sacle=1.0">
    <title>Cream & Black</title>
  </head>
  <body>
    <div id="content"><%- markup -%></div>
    <script src="/static/js/main.js"></script>
  </body>
</html>
